manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
  cores = '2'
  memory = '2'
  help = false
  profile = false

  // input
  nano = ''
  illumina = ''
  fasta = ''
  list = false

  // parameters
  blast_db = 'Chlamydia_gallinacea_08_1274_3.ASM47102v2.dna.toplevel.fa'

  // databases
  busco = 'fungi_odb9'

  // workflow adjustments

  // folder structure
  output = 'results'
}

profiles {
    standard { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/local.config' }

    conda { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/conda.config' }

    gcloudMartin { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://databases-matrice/databases/' 
        bucketDir = 'gs://matrice/'
        google { project = 'nextflow-auto-255816'; zone = '' }  
        includeConfig 'configs/googlegenomics.config' }
}